@font-face {
  font-family:
    sans-serif,
    Noto Kufi Arabic;
  src: url('../../assets/fonts/NotoKufiArabic-Medium.ttf') format('truetype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  direction: rtl;
  font-family: Noto Kufi Arabic;
}

a {
  text-decoration: none;
}

.divider {
  width: 90%;
  height: 1px;

  background-color: #d0d0d0;
}

@media print {
  body * {
    // display: none;
  }
  .print_container {
    // display: block !important;
    margin: 0 auto;
    max-width: 250px;
    font-size: 8px !important;
    font-weight: 300 !important;
  }
  .receipt_container {
    gap: 0;
    padding: 0 !important;
  }
  .receipt_container * {
    padding: 0 !important;
  }
  table,
  th,
  td {
    border: none !important;
  }
  .print_container td {
    // width: max-content !important;
    border: none !important;

    .data {
      width: 40px !important;
      font-size: 5px !important;
      padding: 3px !important;
      // border: none !important;
    }
    .title {
      width: 100% !important;
    }
  }
  button {
    display: none !important;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f100;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffa60098;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ffa600;
}
