@font-face {
  font-family: Noto Kufi Arabic;
  src: url("../../assets/fonts/NotoKufiArabic-Medium.ttf") format("truetype");
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  direction: rtl;
  font-family: Noto Kufi Arabic;
}

a {
  text-decoration: none;
}

.logo {
  font-weight: 900;
  font-size: 25px;
}

.entery_page_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  border: 20px solid rgb(255, 255, 255);
}
.entery_page_container .logo {
  top: 20px;
  padding: 0;
  height: -moz-max-content;
  height: max-content;
  position: absolute;
  left: 20px;
  transition: 0.3s;
}
.entery_page_container .logo img {
  width: 60px;
  padding: 10px;
}
.entery_page_container .logo p {
  display: none;
}
.entery_page_container .logo.move {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #ffffff;
  height: 110px;
  border-radius: 0px 0px 50px 50px;
  width: 337px;
  font-size: 16px;
  font-family: sans-serif, "inter";
  line-height: 19.36px;
  font-weight: 700;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
}
.entery_page_container .logo.move img {
  width: 50px;
  height: 47.3px;
}
.entery_page_container .logo.move p {
  display: block;
}
.entery_page_container .center_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  z-index: 1;
}
.entery_page_container .center_content .food_box_img {
  width: 135px;
  height: 135px;
}
.entery_page_container .center_content .content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.entery_page_container .center_content .content h1 {
  color: #486fe6;
  line-height: 66.39px;
  font-weight: 700;
  font-size: 35px;
}
.entery_page_container .center_content .content p {
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 30.35px;
}
.entery_page_container .center_content .start_button .button {
  cursor: pointer;
  display: flex;
  background-color: #171938;
  width: 337px;
  height: 101px;
  border-radius: 50px;
  justify-content: flex-end;
  color: white;
  font-size: 30px;
  line-height: 56.91px;
  font-weight: 700;
  align-items: center;
  gap: 45px;
}
.entery_page_container .center_content .start_button .button img {
  width: 75px;
  height: 75px;
  border-radius: 50px;
  background-color: white;
  padding: 20px;
  margin-left: 14px;
}
.entery_page_container .background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #f9f9ff;
  border: 18px solid white;
  border-radius: 35px;
  overflow: hidden;
}
.entery_page_container .background .blue_circle {
  position: absolute;
  left: 0;
  top: 0;
}
.entery_page_container .background .rose_circle {
  position: absolute;
  left: 0;
  top: 0;
}
.entery_page_container .background .background_icon {
  position: absolute;
}
.entery_page_container .background .background_icon.icon1 {
  top: 20%;
  right: 350px;
}
.entery_page_container .background .background_icon.icon2 {
  top: 20%;
  left: 350px;
}
.entery_page_container .background .background_icon.icon3 {
  top: 40%;
  right: 100px;
}
.entery_page_container .background .background_icon.icon4 {
  top: 40%;
  left: 100px;
}
.entery_page_container .background .background_icon.icon5 {
  top: 70%;
  right: 200px;
}
.entery_page_container .background .background_icon.icon6 {
  top: 70%;
  left: 200px;
}
.entery_page_container .background .background_icon.icon7 {
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
}

.home_container {
  min-height: 100vh;
  position: relative;
  min-height: 100vh;
}
.home_container .background {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: #FFA600;
  z-index: -1;
  overflow: hidden;
}
.home_container .background .img_background {
  position: absolute;
  left: 0;
  width: 800px;
}
.home_container .content {
  display: flex;
  padding: 30px;
}
.home_container .content .Operations_list_container {
  height: 92vh;
  width: 875px;
  max-width: 100%;
  background-color: white;
  border-radius: 35px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.home_container .content .Operations_list_container .top_head {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 40px;
  padding-bottom: 40px;
}
.home_container .content .Operations_list_container .top_head .row1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #486fe6;
  font-size: 25px;
  font-weight: 700;
}
.home_container .content .Operations_list_container .top_head .row2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home_container .content .Operations_list_container .top_head .row2 h3 {
  size: 17px;
  color: #486fe6;
  font-weight: 700;
}
.home_container .content .Operations_list_container .links {
  display: grid;
  gap: 20px;
  flex-grow: 1;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
}
.home_container .content .Operations_list_container .links::-webkit-scrollbar {
  width: 5px;
  display: none;
}
.home_container .content .Operations_list_container .links::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
.home_container .content .Operations_list_container .links::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}
.home_container .content .Operations_list_container .links::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.home_container .content .Operations_list_container .links .link {
  background-color: #ffefe7;
  height: 175px;
  width: 250px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  flex-direction: column;
  position: relative;
}
.home_container .content .Operations_list_container .links .link .img {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  padding: 15px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.home_container .content .Operations_list_container .links .link p {
  margin-top: 50px;
}
.home_container .content .logout_button {
  background-color: #171938;
  width: 250px;
  height: 80px;
  border-radius: 35px;
  color: white;
  font-weight: 700;
  font-size: 20px;
  line-height: 37.94px;
  border: none;
  position: absolute;
  bottom: 30px;
  right: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home_container .logo {
  position: absolute;
  background-color: white;
  top: 90%;
  display: flex;
  align-items: center;
  gap: 20px;
  left: 10px;
  transform: translateX(0);
  border-radius: 50px;
  font-size: 14px;
  padding: 5px 25px;
  height: 60px;
  transition: 0.3s;
}
.home_container .logo img {
  width: 50px;
}
.home_container .logo.move {
  top: 20px;
  padding: 0;
  height: -moz-max-content;
  height: max-content;
}
.home_container .logo.move img {
  width: 60px;
  padding: 10px;
}
.home_container .logo.move p {
  display: none;
}

.login_container {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 50px;
  position: relative;
}
.login_container .background {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.login_container .background img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.login_container .login_form {
  background-color: white;
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 35px;
  padding: 30px 60px;
  padding-top: 50px;
}
.login_container .login_form .title {
  color: #486fe6;
  font-size: 25px;
  font-weight: 700;
}
.login_container .login_form .inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.login_container .login_form .input_container {
  display: flex;
  align-items: center;
  border: 1px solid #c1c1c1;
  width: 100%;
  padding: 0 20px;
  border-radius: 15px;
  gap: 10px;
}
.login_container .login_form .input_container img {
  width: 15px;
}
.login_container .login_form .input_container input {
  border: none;
  outline: none;
  height: 53px;
  flex-grow: 1;
}
.login_container .login_form .submit_button {
  background-color: #171938;
  border: none;
  border-radius: 35px;
  width: 200px;
  height: 60px;
  color: white;
  font-size: 20px;
  margin-bottom: 40px;
  cursor: pointer;
}
.login_container .content {
  flex-grow: 1;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login_container .content h1 {
  color: white;
  font-size: 50px;
  font-weight: 700;
}
.login_container .content h3 {
  color: white;
  width: 320px;
  font-size: 25px;
  font-weight: 700;
}
.login_container .logo {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #ffffff;
  height: 110px;
  border-radius: 0px 0px 50px 50px;
  width: 337px;
  font-size: 16px;
  font-family: sans-serif, "inter";
  line-height: 19.36px;
  font-weight: 700;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
}
.login_container .logo img {
  width: 50px;
  height: 47.3px;
}
.login_container .logo.move {
  position: absolute;
  background-color: white;
  top: 90%;
  display: flex;
  align-items: center;
  gap: 20px;
  left: 10px;
  transform: translateX(0);
  border-radius: 50px;
  font-size: 14px;
  padding: 8px 30px;
  padding-left: 10px;
  height: 60px;
  transition: 0.3s;
  width: -moz-max-content;
  width: max-content;
}/*# sourceMappingURL=style.css.map */